@tailwind base;
@tailwind components;

@font-face {
    font-family: "font-phudu"; /* Remplacez par le nom que vous souhaitez donner à la police */
    src: url("./assets/font/Phudu/Phudu-VariableFont_wght.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;
